.poiModule {
    padding-top: 10px;

    .form-group {
        margin-bottom: 10px;

    }

    // .fileinput {
    //     padding: 10px;
    //     border-bottom: 1px solid #cecece;
    // }
    .poi-form-checkbox {
        margin: 15px 0 0 0;
        border-bottom: 1px solid #cecece;

        .form-check-label {
            color: #404040 !important;
            text-wrap: nowrap;

            &::before {
                border: 1px solid var(--primary-color) !important;
            }
        }

        .form-check {
            margin-bottom: 3px;
        }

        .invalid-feedback {
            text-align: center;
        }
    }
}

.addPOIbutton {
    margin-bottom: -25px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    .btn {
        font-size: 11px;
        border-radius: 10px;
        padding: 5px 10px;
    }
}

.addPOIModal {
    .modal-content {
        max-height: 75vh;
        overflow: auto;
    }
}

@media screen and (max-width:767px) {
    .addPOIModal {
        .modal-content {
            max-height: 60vh;
            overflow: auto;
        }
    }
}

.ShowRemainMsg {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    border: 2px solid #ff050559;
    border-radius: 10px;
    padding: 8px 19px;
    font-size: 15px;
    gap: 14px;
    color: #760000;
    align-items: center;
    background-color: #fce2e2;

    .numbers {
        font-weight: bold;
    }
}