.BlockButtonGroup {
    margin: 0 0 -1px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
    .btn-outline-primary {
        background-color: var(--primary-color) !important;
        color: #fff;
        border: 1px solid var(--primary-color) !important;

        &:hover {
            color: #fff;

        }
    }

    .btn {
        color: $secondary-font-color !important;
        background: transparent;
        padding: 12px 20px;
        border: none;
        font-weight: 500;
        line-height: normal;
        font-size: 16px;
        position: relative;
        border-radius: 10px 10px 0px 0px !important;
        border: 1px solid #E9ECEF;
        white-space: nowrap;
        margin: 0 6px 0 0;
        flex: none;
        &:hover{
            border-color: $cta-color;
            background: $cta-color;
        }
    }
}

@media screen and (max-width:800px) {
    .FilterModal {
        width: 65vw !important;
    }
}

.blockLink {
    cursor: pointer;

    &:hover {
        color: var(--primary-color);
    }
}

.passbook-view-modal {
    .modal-dialog {
        box-shadow: 0 0 20px 1px #77777738;
    }

    .modal-header {
        color: var(--primary-color);
        padding: 15px 35px;

        button {
            background-color: var(--white-color);
            box-shadow: 0px 0px 30px 0px #2b2b2b50;
            border-radius: 50%;
        }
    }

    .modal-body {
        padding: 8px 35px 20px !important;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 7px 0;
            font-size: 12px;
            border-bottom: 1px solid #cecece;



            span {
                display: block;
                padding: 5px;
                color: #000;

                &:first-child {
                    color: rgb(51, 51, 51);
                    font-size: 1rem;
                    float: left;
                }

                &:last-child {
                    color: rgb(0, 0, 0);
                    font-size: 1rem;
                    float: right;
                }
            }


        }
    }
}

.ButtonListRow {
    border-radius: 10px;
    padding: 7px 18px;
    font-size: 12px;
}