.header {
  background: white;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transition: padding 0.3s ease-in-out;
  height: 76px;

  .menu-bar {
    display: flex;
    align-items: center;
    border-radius: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    position: relative;
    margin-left: 10px;
    &:focus{
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler-icon {
        width: 31px;
        height: 24px;
        background: none;
        position: relative;
        display: inline-block;
        span {
            height: 2px;
            width: 31px;
            background-color: $primary-color;
            display: block;
            position: absolute;
            transition: $transition-animate;
            &:nth-child(1) {
                top: 0;
                width: 21px;
            }
            &:nth-child(2),&:nth-child(3) {
                top: 11px;
            }
            &:nth-child(4) {
                top: 22px;
            }
        }
    }
    &[aria-expanded="true"],&.active{
        .navbar-toggler-icon {
            span{
                &:nth-child(1),&:nth-child(4){
                    top: 11px;
                    opacity: 0;
                }
                &:nth-child(2){
                    transform: rotate(-45deg);
                }
                &:nth-child(3){
                    transform: rotate(45deg);
                }
            }
        } 
    }
    @media only screen and (max-width: 1199px) {
        &.active{
            z-index: 999;
        }
    }
}

  .logo {
    transition: all 0.3s;
    display: flex;
    align-items: center;

    span {
      color: black;
      font-size: 1rem;
    }

    img {
      &.logoIcon {
        width: 80px;
        height: auto;
      }

      &.textLogo {
        width: 115px;
        height: auto;
        margin-left: 15px;
        margin-top: 5px;
      }
    }
  }

  &-left {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 290px;
    justify-content: center;
    background: var(--primary-color);
    border-bottom: 1px solid rgba(0,0,0,0.08);

    .logo {
      padding: 0 10px;
      
    }

    @include media-max(lg) {
      width: 66px;
      background: transparent;
      border-right: 1px solid rgba(0, 0, 0, 0.08);
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 10px;

    .header-btn {
      margin-right: 15px;
      display: flex;
      align-items: center;
      background: transparent;
      padding: 0;
      border: none;
      .img {
        img{
          width: 45px;
          height: 45px;
          object-fit: cover;
          border-radius: 50%;
          overflow: hidden;
        }
      }
      &:hover{
        box-shadow: none;
      }
      &:focus,&:active{
        background: transparent !important;
      }
      &.dropdown-toggle{
        &::after{
            content: "";
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            font-size: 26px;
            color: #C4C4C4;
            margin-left: 18px;
        }
      }
    }
    .user-name {
      font-size: 14px;
      color: #303030;
      line-height: normal;
      font-weight: 700;
      text-transform: none;
    }
  }

  .header-main{
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }



  .dropdown-toggle {
    &:hover {
      border-color: var(--primary-color);

      .img svg path {
        fill: black;
      }
    }

    &:after {
      display: none;
    }

    .img svg path {
      fill: black;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    .logo {
      img {
        &.textLogo {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .header {

    &-left {
      .logo {
        border-right: 0px transparent;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    background: white;
    height: 76px;
  }
}