.pagination{
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  .page-item{
      font-size: 18px;
      text-align: center;
      i{
          font-size: 14px;
          margin-bottom: -1px;
      }
      .page-link{
          padding: 10px;
          font-weight: 500;
          width: 40px;
          height:40px;
          padding: 7px 14px 8px 14px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #303030;
          font-size: 14px;
          border-radius: 8px;
          border: none;

          span{
              display: flex;
              align-items: center;
              justify-content: center;
          }
          &:hover,&.active{
              background: #f6ffa0;
              border-color: #f6ffa0 !important;
          }
          &:focus{
              box-shadow: none;
          }
      }
      &.active{
          .page-link{
              background: #f6ffa0;
              border-color: #f6ffa0;
          }
      }
      &:first-child {
          margin-right: auto;
          .page-link{
              color: #303030;
              width: auto;
              height: 36px;
              border: 1px solid #D0D5DD; 
          }
      }
      &:last-child {
          margin-left: auto;
          .page-link{
              color: #303030;    
              width: auto;
              height: 36px;
              border: 1px solid #D0D5DD; 
          }
      }
      @media only screen and (max-width: 1199px) {
          font-size: 16px;
          min-width: 44px;
          .page-link{
              span{
                  min-width: inherit;
              }
          }
      }
  }
}