.side-bar {
  position: fixed;
  left: 0;
  width: 290px;
  background-color: var(--primary-color);
  z-index: 999;
  top: 76px;
  height: calc(100% - 76px);
  overflow-y: auto;
  padding: 24px;
  .menu {
    position: relative;
    ul {
      list-style-type: none;

      li {
        position: relative;
        font-size: 16px;
        a i,
        .list-name i {
          color: black;
        }


        &+li {
          margin-top: 5px;
        }

        span.toggle-btn-open+ul {
          opacity: 1;
          visibility: visible;
          display: block;
        }

        a, .list-name {
          font-size: 16px;
          color: $black;
          text-transform: capitalize;
          font-weight: 500;
          white-space: nowrap;
          display: block;
          padding: 0;
          border-radius: 5px;
          transition: $transition-animate;
          padding: 10px 15px;
          display: flex;
          align-items: center;
          .icon{
            font-size: $fs-16;
            font-weight: normal;
            display: inline-block;
            transition: $transition-animate;
            width: 20px;
            text-align: center;
            margin-right: 7px;
            flex-shrink: 0;
            img {
              width: 20px;
              height: 20px;
            }
          }
          .side-bar-text{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .drop-icon {
            font-weight: normal;
            display: inline-block;
            transition: $transition-animate;
            width: 20px;
            text-align: center;
            flex-shrink: 0;
            font-size: 22px;
            margin-left: auto;
          }
    
          &:hover,
          &.active {
            background-color: #303030;
            color: white;

            i {
              svg {
                color: #fff;
              }
            }

            .drop-icon {
              color: #fff;
            }
          }
        }

        .toggle-btn-open{
          .list-name{
            .drop-icon{
              transform: rotate(180deg);
            }
          }
        }

        .dropdown-menu {
          top: -19px;
          left: 100%;
          opacity: 0;
          visibility: hidden;
          transition: $transition-animate;
          display: none;
          padding: 10px 10px 10px 20px;
          border: none;
          margin: 0;
          border-radius: 0 0 5px 5px;
          &::before{
            display: none;
          }
          li {
            margin: 0px 0;

            a,
            .list-name {
              padding: 4px 15px !important;
              font-weight: $fw-500;
              text-transform: none;
              margin-bottom: 5px;

              &:hover {
                background-color: #332e1088;
                // @include media-min(xl) {
                //   color: #ffffff;
                // }
              }

              &.active {
                color: #fff;
              }
            }
          }
        }

        @include media-min(xl) {
          &:hover {

            >a,
            >.list-name {
              background-color: var(--primary-color-light);
              border-color: var(--primary-color);
            }
          }
        }
      }
    }
  }

  .open-btn {
    color: var(--text-color);
    font-size: $fs-24;
    // margin-left: 11px;
    position: absolute;
    bottom: 0;
    left: 10px;

    &:hover i {
      color: var(--primary-color);
    }
  }


  @include media-max(xl) {
    .menu {
      ul {
        li {
          .dropdown-menu {
            position: static;
            opacity: 1;
            visibility: visible;
            display: none;
          }

          &.open {
            >.dropdown-menu {
              display: block;
            }
          }
        }
      }
    }
  }
}

.Hide {
  display: none;
  transition: display 5s;
}

.sidebar-dropdown {
  background-color: rgba(48, 48, 48, 0.11);
  box-shadow: none !important;
  position: relative !important;
  top: 100% !important;
  left: 0 !important;
  width: 100%;
  transition: 0.3s;
}

.sidebar-dropdown.active {
  opacity: 1 !important;
  visibility: visible !important;
  transition: 0.3s;
}

.MobileSideBar {
  .sidebar-dropdown.active {
    width: 50%;
  }

  width: 50vw !important;
  background-color: var(--primary-color) !important;

  .icon-btn {
    right: 0 !important;
  }

  .icon-close {
    color: black;
    font-size: 35px;
    right: 0 !important;
  }

  .SidebarTitle {
    font-size: 18px !important;
    margin-left: 10px;
    text-wrap: nowrap !important;

  }

  .SidebarBody {

    .Hide {
      display: block;
    }

    .side-bar {
      position: fixed;
      transition: position 0.5s;
      left: 0;
      margin-top: 50px;
      height: 80% !important;
      width: 52vw !important;
      background-color: var(--primary-color);
      // z-index: 999;
      padding-top: 25px;
      transition: width 0.3s;
      top: 0;
      height: calc(100% - 100px);
      border: none;
      box-shadow: none;

      .menu {
        height: auto;

        width: 120%;
        position: relative;
        padding: 20px 13px 0;

        ul {
          overflow-y: auto;
          height: 90%;
          list-style-type: none;

          li {
            cursor: pointer;
            // margin-right: 10px;
            margin-left: 10px;
            position: relative;

            a i,
            .list-name i {
              color: black;
            }


            &+li {
              margin-top: 10px;
            }

            span.toggle-btn-open+ul {
              opacity: 1;
              visibility: visible;
              display: block;
            }

            a,
            .list-name {
              overflow: hidden;
              padding: 5px 10px;
              display: flex;
              align-items: center;
              font-size: 14px;
              color: $black;
              text-transform: capitalize;
              font-weight: 500;
              opacity: 0.9;
              white-space: nowrap;
              border-radius: 5px;
              transition: all 0.3s ease-in-out;
              .icon {
                margin-right: 5px;
                background-color: transparent;
                font-size: $fs-16;
                font-weight: normal;
                border-radius: 4px;
                display: inline-block;
                transition: all 0.3s;
                height: 29px;
                line-height: 22px;
                width: 30px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: 20px;
                  height: 20px;
                }

              }

              .drop-icon {
                margin: 1px 0 0px 0px;
                padding: 0 0 0 11px;
                font-size: 28px;
                color: #000 !important;
              }

              &.active {
                font-weight: 700;
                font-family: 'Inter';

                .drop-icon {
                  color: #fff !important;
                }
              }

              &:hover,
              &.active {
                background-color: #303030;
                color: white;

                i {
                  svg {
                    color: #fff;
                  }
                }

                .drop-icon {
                  color: #fff !important;
                }
              }
            }

            .dropdown-menu {
              top: -19px;
              left: 100%;
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s;
              overflow: auto;
              max-height: 300px;
              padding: 5px;
              border: 0.5px solid transparent;
              box-shadow: 0px 5px 20px 0px rgb(51 51 51 / 28%);
              display: none;

              li {
                margin: 0px 0;

                a,
                .list-name {
                  padding: 4px 2px !important;
                  font-weight: $fw-500;
                  text-transform: none;
                  margin-bottom: 5px;

                  &:hover {
                    background-color: #332e1088;
                    // @include media-min(xl) {
                    //   color: #ffffff;
                    // }
                  }

                  &.active {
                    color: #fff;
                  }
                }
              }
            }

            .drop-icon {
              font-size: $fs-22;
              position: absolute;
              right: 3px;
              top: 5px;
              cursor: pointer;
              color: var(--secondary-text-color) !important;
              margin: 0;
              z-index: 9;
            }

            // @include media-min(xl) {
            //   &:hover {

            //     >a,
            //     >.list-name {
            //       background-color: var(--primary-color-light);
            //       border-color: var(--primary-color);
            //     }
            //   }
            // }
          }
        }
      }

      .open-btn {
        color: var(--text-color);
        font-size: $fs-24;
        transform: scaleX(-1);
        position: absolute;
        bottom: 0;
        left: 10px;

        &:hover i {
          color: var(--primary-color);
        }
      }

      // Expanded
      &.expanded {


        .menu {
          ul {


            li {

              a,
              .list-name {

                i {}
              }
            }
          }
        }
      }

      // @include media-max(xl) {
      //   .menu {
      //     ul {
      //       li {
      //         .dropdown-menu {
      //           position: static;
      //           opacity: 1;
      //           visibility: visible;
      //           display: none;
      //         }

      //         &.open {
      //           >.dropdown-menu {
      //             display: block;
      //           }
      //         }
      //       }
      //     }
      //   }
      // }
    }
  }
}

.offcanvas-backdrop{
  z-index: 99;
}